<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Desktops Page Test">
        <classes>
            <class name="Tests.DesktopsTest">
                <methods>
                    <include name="ensureAllAddToCartAreClickable"/>
                    <include name="ensureNextPageButtonIsClickable"/>
                    <include name="ensureCompareButtonRedirectsToComparePage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Laptops Page Test">
        <classes>
            <class name="Tests.LaptopsTest">
                <methods>
                    <include name="ensureAllAddToCartAreClickable"/>
                    <include name="ensureSortByNameWorksCorrectly"/>
                    <include name="ensureCompareButtonRedirectsToComparePage"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>